<!-- invoice.css -->
<link rel="stylesheet" href="../css/invoice.css" type="text/css">

<section class="header">
<!--    company logo and contacts-->
     <div class="company-info">
         <div class="company-logo">
             <img class="logo" src="../img/kodiPoint_logo.png" alt="KodiPoint logo">
         </div>
         <div class="company-contacts">
             <div>KodiPoint</div>
             <div>(+254) 708 486 139</div>
             <div>P.O Box: 54679, 00200 Nairobi</div>
             <div>info@kodipoint.com</div>
         </div>
     </div>
<!--    Invoice details e.g date issued, balance due ...-->
     <div class="invoice-info">
         <div>invoice</div>
         <div><span>Invoice #:</span> {{id}}</div>
         <div><span>Rent period:</span> {{formatDateMonth rent_period}}</div>
         <div><span>Due Date:</span> {{formatDate date_due}}</div>
         <div><span>Date Issued:</span> {{formatDate date_issued}}</div>
         <div class="invoice-balance">
             <div>Balance due:</div>
             <div><span>Ksh</span> {{thousandsSeparator amount_balance}}</div>
         </div>
     </div>
</section>
<section class="property">
    <div class="property-name">
        {{property_name}}
    </div>
</section>
<section class="tenant-info">
<!--    tenants contacts-->
     <div class="tenant-contacts">
         <div>Bill to:</div>
         <div>{{name}}</div>
         <div>{{phone}}</div>
         <div>{{email}}</div>
         <div><span>House Unit:</span> {{unit_no}}</div>
     </div>
</section>
<section class="breakdown-table">
<!--  invoice breakdown table  -->
    <table class="rent-cost">
        <tr>
            <th>Item</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>Rent</td>
            <td>{{thousandsSeparator rent_amount}}</td>
        </tr>
    </table>

    <table class="services-cost">
        {{#each invoice_breakdowns}}
            <tr>
                <td>{{this.service_name}}</td>
                <td>{{thousandsSeparator this.service_price}}</td>
            </tr>
        {{/each}}
    </table>

    <hr class="total-divider">
    <table class="total-cost">
        <tr>
            <td>Sub total:</td>
            <td>{{thousandsSeparator amount_owed}}</td>
        </tr>
        <tr>
            <td>Amount carried forward:</td>
            <td>{{thousandsSeparator amount_paid}}</td>
        </tr>
        <tr>
            <td>Total due:</td>
            <td>{{thousandsSeparator amount_balance}}</td>
        </tr>
    </table>
</section>

<footer>
    <span>If you have any questions concerning this invoice please contact us.</span>
</footer>
